server {
    listen 3001 ssl;
    listen [::]:3001 ssl;
    server_name <server name goes here>;
    root /home/app/webapp/public;


    # The following deploys your Ruby app on Passenger.

    passenger_enabled on;
    passenger_user app;
    passenger_app_env development;

    # For Ruby 2.5
    passenger_ruby /usr/bin/ruby2.6;
    passenger_temp_path /tmp/passenger_temp;

    ssl_certificate     /etc/ssl/certs/server.crt;
	ssl_certificate_key /etc/ssl/certs/server.key;

}
